<h2>Car name: {{car.name}}</h2>
<h4>Car producer: {{ car.producer }}</h4>
<p>Description: {{ car.description }}</p>
<p>Cost: {{ car.cost }}</p>
<div ng-if="car.presence">
    Available: <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
</div>
<div ng-if="!car.presence">
    Available: <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
</div>
<hr/>

<div>
    <h3>Live edit</h3>
    <!-- This is the form to edit a car -->
    <form ng-submit="edit()" name="editForm">

        <div class="form-group">
            <label for="showcar1">Car name:</label>
            <input type="text" ng-model="car.name" class="form-control" id="showcar1" required/>
        </div>

        <div class="form-group">
            <label for="newcar2">Car producer:</label>
            <input type="text" ng-model="car.producer" id="newcar2" class="form-control" required/>
        </div>

        <div class="form-group">
            <label for="newcar3">Description</label>
            <textarea class="form-control" id="newcar3" rows="3" ng-model="car.description" required></textarea>
        </div>

        <div class="form-group">
            <label for="newcar4">Car cost:</label>
            <input type="text" ng-model="car.cost" id="newcar4" class="form-control" required/>
        </div>

        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="" ng-model="car.presence">
                available in stock
            </label>
        </div>

        <br>
        <div ng-repeat="error in errors.body" class="alert alert-error"><strong>Body</strong> {{error}}</div>
        <button type="submit" class="btn btn-primary btn-large" ng-disabled="editForm.$invalid">Save changes</button>
        <a onclick="window.location = '#/'" class="btn btn-default" >Discard changes</a>
    </form>
    <br>
    <div ng-if="editres">
        <br>
        <div class="alert alert-success">
            <strong>Success!</strong> Car successfully created
        </div>
    </div>
    <div ng-if="editres == false">
        <br>
        <div class="alert alert-danger">
            <strong>Error!</strong> Something went wrong
        </div>
    </div>
</div>
