<h2>Toy cars</h2>

<div class="row">

    <div class="span9">

        <!-- This will only show when there's no items to let the user know there's purposefully nothing there.. -->
        <div ng-show="items.$resolved && items.length == 0">
            <hr/>
            <h4>There's nothing here...</h4>

            <p>Use the 'New' button to create a new car!</p>
        </div>

        <!-- A nice table that will contain a list of Forums -->
        <table class="table table-hover">
            <!-- This will create a row for every item within our items object (both of these refer to the forums -->
            <thead>
                <tr>
                    <th>id</th>
                    <th>Model</th>
                    <th>On stock</th>
                    <th>Details</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="car in cars">
                    {{ cosnole.log(cars) }}
                    <td> {{car.id }}</td>
                    <td width="50%"> {{car.name }} <i class="fa fa-check" aria-hidden="true"></i></td>
                    <td>
                        <div ng-if="car.presence">
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        </div>
                        <div ng-if="!car.presence">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </div>
                    </td>
                    <!--<td><span ng-bind="car.name"></span></td>-->
                    <td><a href="#/car/{{car.id}}"><span class="glyphicon glyphicon-file" aria-hidden="true"></span></a></td>
                    <!-- When the user clicks this button it will call the 'destory()' method within the controller -->

                    <td><a ng-click="destroy($index)" href=""><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
                </tr>
            </tbody>
        </table>

    </div>

    <div class="span3">

        <a href="#/cars/new" class="btn btn-primary btn-block btn-large">New</a>

        <br />

        <div class="well">
            <p>
                Angular + Rails
            </p>

        </div>
    </div>
</div>