<h2>New Car</h2>

<!-- When the form is submitted call the save() function within the controller -->
<form ng-submit="save()" class="form-vertical">

    <!-- The control-group, control-label, and controls classes are Bootstrap specific -->
    <div class="control-group">
        <label class="control-label">Car Name:</label>

        <div class="controls">
            <!-- This input is tied to the car.name object. -->
            <input type="text" ng-model="car.name"/>


            <!-- If there's any errors that pertain to name display them here! -->
            <div ng-repeat="error in errors.name">{{error}}</div>
        </div>
        <input type="text" ng-model="car.producer"/>
        <textarea ng-model="car.description" rows="4" style="width: 100%;" placeholder="Description"></textarea>
        <input type="checkbox" ng-model="car.presence"/>
        <br>
        <input type="text" ng-model="car.cost"/>
    </div>
    <div class="control-group">
        <div class="controls">
            <input class="btn btn-primary" type="submit" value="Create!"/>
        </div>
    </div>
</form>